### The following packages are needed for the NLP project

pip install pandas

### Packages needed for retrieving the data from Google BigQuery

pip install --upgrade google-cloud-bigquery

### Packages needed for pre-processing data

pip install spacy
python -m spacy download en_core_web_sm

### Packages needed for visualization
