### The following packages are needed for the NLP project

pip install numpy
pip install pandas

### Packages needed for retrieving the data from Google BigQuery

pip install --upgrade google-cloud-bigquery

### Packages needed for pre-processing data

pip install nltk

### Packages needed for visualization

pip install matplotlib
pip install seaborn
pip install plotly

### Packages needed for tuning and modeling

pip install -U scikit-learn
pip install hyperopt