### The following packages are needed for the NLP project

pip install pandas

### Packages needed for retrieving the data from Google BigQuery

# install client library
pip install --upgrade google-cloud-bigquery

### Packages needed for pre-processing data

### Packages needed for visualization
